<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SubjectTracker.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SubjectTracker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SubjectTracker.Resources.Settings>
            <setting name="MainColor" serializeAs="String">
                <value>8daacc</value>
            </setting>
            <setting name="AdditionalColor" serializeAs="String">
                <value>4a76a8</value>
            </setting>
            <setting name="AlternativeColor" serializeAs="String">
                <value>335e8f</value>
            </setting>
            <setting name="HoverColor" serializeAs="String">
                <value>b8860b</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
        </SubjectTracker.Resources.Settings>
        <SubjectTracker.Settings>
            <setting name="MainColor" serializeAs="String">
                <value>8daacc</value>
            </setting>
            <setting name="AdditionalColor" serializeAs="String">
                <value>4a76a8</value>
            </setting>
            <setting name="AlternativeColor" serializeAs="String">
                <value>335e8f</value>
            </setting>
            <setting name="HoverColor" serializeAs="String">
                <value>b8860b</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
        </SubjectTracker.Settings>
    </userSettings>
</configuration>